<%= form_with(model: @post, url: choose_new_or_edit, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div class="form-error">
      <h2><%= @post.errors.count %>件のエラーがあります</h2>
      <ul>
        <%= @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <br>
    </div><!-- /.form-error -->
  <% end %>

  <div class="form">
    <div class="form-body clearfix">
      <div class="post-content">
        <%= form.label :content %>
        <%= form.text_area :content %>
        <div class="counter-content">
          <span id="show-count-text">
            0
          </span><!-- /.show-count-text -->
          /140
        </div><!-- /.counter-content -->
      </div><!-- /.post-content -->
      <%= form.submit %>
    </div><!-- /.form-body -->
  </div><!-- /.form -->
<% end %>
<div class="back">
  <%= link_to '一覧へ戻る', posts_path %>
</div><!-- /.back -->
<%= javascript_include_tag 'counter.js' %>