<div class="container">
  <h2 class="flash"><%= notice %></h2>

  <% @posts.each do |post| %>
    <div class="posts-index-item">
      <pre class="item"><%= post.content %></pre>
      <p class="created_at"><%= post.created_at.to_s :published_on %></p>

      <div class="post-menus">
        <%= link_to '編集', edit_post_path(post.id), data: { turbolinks: false } %>
        <%= link_to '削除', post_path(post.id), method: :delete, data: { confirm: '削除してもよろしいですか?' } %>
      </div><!-- /.post-menus -->
    </div><!-- /.posts-index-item -->
  <% end %>
</div><!-- /.container -->